vendor
composer.phar
composer.lock
phpunit.xml
chromedriver/
geckodriver/
msedgedriver/
logs/
vendor-bin/**/vendor/
bin/
vendor/
composer.lock
!bin/browser
!bin/start_driver.sh
!bin/start_webserver.sh
.phpunit.result.cache
.php-cs-fixer.cache
